html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY VARS */
:root {
  --VeryDarkGray: hsl(0, 0%, 17%);
  --DarkGray: hsl(0, 0%, 59%);
}

/* MY STYLING */
html,
body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
  background-image: url(./images/pattern-bg.png);
  background-repeat: no-repeat;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-title {
  font-size: 1.5em;
  margin: 1em auto;
  font-weight: 500;
  color: whitesmoke;
}
form {
  box-sizing: border-box;
  width: 85vw;
  display: flex;
  margin: 0 auto;
}
.ip-feild {
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 15px 0 0 15px;
  border: 0;
  padding: 0 0 0 15px;
  font-size: 1rem;
  font-weight: 500;
}
.ip-feild:focus {
  border: 0;
  outline: 0;
}
.form-button {
  box-sizing: border-box;
  min-width: 15%;
  background-color: black;
  color: whitesmoke;
  border: 0;
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 50px;
  border-radius: 0 10px 10px 0;
}
.info-group {
  background-color: white;
  width: 85vw;
  box-sizing: border-box;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: 1em;
  border-radius: 15px;
  text-align: center;
  max-height: none;
}
.info-element {
  margin: 5px 0;
}
.info-main-text {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.25rem;
}
.info-secondary-text {
  color: var(--DarkGray);
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  font-weight: 700;
  margin-bottom: 5px;
}

#map {
  height: 70vh;
  min-width: 100vw;
  position: absolute;
  top: 30%;
  z-index: 0;
}

.attribution {
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  display: flex;
  min-width: 100vw;
  justify-content: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
